{% extends 'layouts/main.html' %}
{% block title %}New Venue{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form" action="/venues/create">
      <h3 class="form-heading">List a new venue <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.city(class_ = 'form-control', placeholder='City', autofocus = true) }}
            </div>
            <div class="form-group">
              {{ form.state(class_ = 'form-control', placeholder='State', autofocus = true) }}
            </div>
          </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        {{ form.address(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', autofocus = true) }}
        </div>
      <div class="form-group">
        <label for="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by commas', autofocus = true) }}
      </div>
      
      <div class="form-group">
          <label for="facebook_link">Facebook Link</label>
          {{ form.facebook_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
       </div>
      
       <div class="form-group">
          <label for="image_link">Image Link</label>
          {{ form.image_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
       </div>

       <div class="form-group">
            <label for="website_link">Website Link</label>
            {{ form.website_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
       </div>

       <div class="form-group">
             <label for="seeking_talent">Looking for Talent</label>
             {{ form.seeking_talent(placeholder='Venue', autofocus = true) }}
       </div>

       <div class="form-group">
            <label for="seeking_description">Seeking Description</label>
            {{ form.seeking_description(class_ = 'form-control', placeholder='Description', autofocus = true) }}
       </div>
      <input type="submit" value="Create Venue" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
  <!-- <script>
    const checkbox = document.querySelector('#venue-talent');
    var seeking_talent=false;
    checkbox.onchange=function(e){
      seeking_talent = e.target.checked;
    }
    document.getElementById('venue-form').onsubmit = function (e) {
      // e.preventDefault();
      console.log(document.getElementById('venue-name').value)
      console.log(document.getElementById('venue-state').value)
      console.log(document.getElementById('venue-description').value)
      console.log(document.getElementById('venue-genre').value)
      console.log(seeking_talent)
      fetch('/venues/create', {
          method: 'POST',
          body: JSON.stringify({
              'name': document.getElementById('venue-name').value,
              'city': document.getElementById('venue-city').value,
              'state': document.getElementById('venue-state').value,
              'address': document.getElementById('venue-address').value,
              'phone': document.getElementById('venue-phone').value,
              'genre': document.getElementById('venue-genre').value,
              'facebook_link': document.getElementById('venue-fb').value,
              'image_link': document.getElementById('venue-img').value,
              'website_link': document.getElementById('venue-wb').value,
              'seeking_talent': seeking_talent,
              'seeking_description': document.getElementById('venue-description').value,
          }),
          headers: {
              'Content-Type': 'application/json'
          }
      })
    }
  </script> -->
{% endblock %}
